.allSeller {
  font-family: poppins;
  /* margin: 0%;
  padding: 0%; */
  padding-top: 150px;
  margin-bottom: 50px;
}
.navLogo {
  width: 100px;
}
.navTop {
  width: 207vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navSearch {
  display: flex;
  margin-left: 24px;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
  background: #eeeeee;
  border-radius: 16px;
  border: none;
}
.formSearch {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.formSearch:hover {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #8a8a8a;
}
.btnSearch {
  border-radius: 50%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.iconSearch {
  width: 24px;
  height: 24px;
  color: #8a8a8a;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: row;
  background: #008f8c;
  width: 114px;
  height: 48px;
  align-items: flex-start;
  padding: 14px;
  border-radius: 12px;
}
/* gap */

.wordOne {
  padding: 10px 50px 30px 0px;
  font-weight: bold;
}
.cardOneBorder {
  /* margin-left: 100px; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin: 24px 0px;
  /* padding: 16px; */
}
.cardOne {
  display: flex;
}
.cardOne img {
  width: 54px;
  height: 54px;
}
.fillCard {
  padding-left: 16px;
  margin: auto 0;
  flex-grow: 1;
}
.namaPenjual {
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.address {
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}
.btnCard {
  margin: auto 0;
}
.btnEdit {
  padding: 8px 16px;
  background: #fff;
  border-color: #008f8c;
  border-radius: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.btnEdit:hover {
  color: #fff;
  background-color: #008f8c;
  border-color: #008f8c;
}

.containerTwo {
  display: flex;
  width: 100%;
}
.cardTwo {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 25%;
  padding: 24px;
  height: fit-content;
}
.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 24px;
}
.item {
  display: flex;
}
.item:hover {
  color: #008f8c;
}
.icon {
  margin: auto 0;
}
.itemText {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin: 0;
  margin-left: 12px;
  flex-grow: 1;
}
.itemText:hover {
  color: #008f8c;
}
.formCard {
  margin-top: 10px;
  height: 13vh;
  border-radius: 20px;
}
.produkContainer {
  margin-left: 32px;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  gap: 6vh;
}
.produkContainer::after {
  content: "";
  flex: auto;
  justify-content: space-between;
  position: relative;
}
.cardPlus {
  width: 12rem;
  height: 20rem;
  border: 2px dashed #d0d0d0;
  color: black;
}
.cardPlus:hover {
  color: #008f8c;
  border-color: #008f8c;
}
.txtCardPlus {
  text-align: center;
  padding-top: 70%;
  text-decoration: none;
}
.txtCardPlus:hover {
  color: #008f8c;
}
