.container {
  padding-top: 150px;
  display: flex;
}
.sideLeft {
  max-width: 60%;
  padding-right: 32px;
}
.carousel {
  width: 100%;
  height: 436px;
  margin: 0 auto;
  background: rgba(0, 143, 140, 0.3);
  border-radius: 16px;
}
.img {
  width: 100%;
  max-height: 436px;
  object-fit: contain;
  /* object-fit: cover; */
  border-radius: 16px;
  /* background: #eee; */
}
.containerDeskripsi {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px;
  margin-top: 24px;
}
.titleDeskripsi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.deskripsi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}
.sideRight {
  padding-left: 16px;
  width: 40%;
}
.nego {
  width: 336px;
  min-height: 215px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 24px 16px;
}
.containerLike{
  display: flex;
  justify-content: space-between;
}
.judul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  max-width: 90%;
}
.like{
  cursor: pointer;
  width: 50%;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  margin-right: 8px;
}
.btnlike{
  background: #fff !important;
  color: #151515 !important;
  box-shadow: none !important;
  border-color: #fff !important;
  padding: 0;
}
.btnlike:focus {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.btnlike:hover {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.likeFill{
  cursor: pointer;
  color: #ff0000;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  margin-right: 8px;
}
.btnlikeFill{
  background: #fff !important;
  color: #151515 !important;
  box-shadow: none !important;
  border-color: #fff !important;
  padding: 0;
}
.btnlikeFill:focus {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.btnlikeFill:hover {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.pengarang {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}
.harga {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.btnNego {
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background: #008f8c;
  border-radius: 16px;
  border: 2px solid #008f8c;
}
.btnNego:hover {
  background: #eeeeee;
  color: #008f8c;
  border: 2px solid #eeeeee;
  margin: 0;
}
.btnNego:focus{
  background-color: #008f8c;
  border-color: #008f8c;
}
.identitasPenjual {
  padding: 16px 0px 16px 16px;
  display: flex;
  width: 336px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 24px;
}
.imgPenjual {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}
.box {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.namaPenjual {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.kota {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #eee;
  border-radius: 25%;
}

.modal {
  width: 360px !important;
  height: 438px !important;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.modalHeader {
  border-bottom: none;
  padding: 24px 32px;
}
.modalTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.modalBody {
  padding: 0 32px;
}
.textModal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.containerItemDialog {
  display: flex;
  padding: 16px;
  background: #eeeeee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 100%;
  height: 105px;
  margin-bottom: 24px;
}
.imgItemDialog {
  height: 100%;
  width: auto;
}
.boxproduk {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.judulItemPopup {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.hargaitemPopup {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
}
.boxInput{
  display:flex;
  flex-direction:column;
  margin-bottom: 24px;
}
.labelNego {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.inputNego {
  padding: 12px 16px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 16px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.modalFooter {
  border-top: none;
  padding: 24 32px;
}
.btnSubmit {
  width: 100%;
  border-radius: 16px;
  align-items: center;
  padding: 12px 24px;
  background: #008f8c;
}
.btnSubmit:hover {
  color: #fff;
  background-color: #008f8c;
  border-color: #008f8c;
}