.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 125;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-family: poppins;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: between;
  padding: 20px 0px;
}
.box1 {
  display: flex;
  flex-direction: row;
}
.search {
  display: flex;
  margin-left: 24px;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
  background: #eeeeee;
  border-radius: 16px;
  border: none;
}
.formsearch {
  background: transparent;
  /* background: rgba(0, 0, 0, 0); */
  flex: 1;
  border: none;
  outline: none;
  box-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.formsearch:hover {
  background: transparent;
  border: none;
  outline: none;
  /* color: #eee; */
  box-shadow: none;
  color: #8a8a8a;
}
.btnsearch {
  border-radius: 50%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.iconsearch {
  width: 24px;
  height: 24px;
  color: #8a8a8a;
  align-items: center;
}

.btnIcon {
  width: 28px;
  height: 28px;
  margin: auto 0;
  margin-left: 27px;
}
.btnIcon:hover {
  color: #008f8c;
}

/* css menu icon profile/Person */
.menuProfil {
  border-radius: 16px;
}
.btnDropdown {
  background: #fff !important;
  color: #151515 !important;
  box-shadow: none !important;
  border-color: #fff !important;
  padding: 0;
}
.btnDropdown:focus {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.btnDropdown:hover {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.btnDropdown.show > .btnDropdown.dropdown-toggle {
  background: #fff !important;
  color: #008f8c !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
.btnDropdown::after {
  display: none;
}
.btnIconDropdown {
  width: 30px;
  height: 30px;
  margin-left: 27px;
}

.brand {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #151515;
  padding: 8px 16px;
  margin: 0px;
}
.itemDropdown {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #151515;
  margin: 4px auto;
}
.subIcon {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.itemLogout {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ff0000;
  margin: 4px auto;
  text-align: center;
}


/* css menu icon notif/bell */
.menuNotif {
  padding: 12px 12px 0px 12px;
  border-radius: 16px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.boxAttributeProduct {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
.imgProduct {
  width: 5rem;
  height: 5rem;
  border-radius: 12px;
}
.boxDetailProduct {
  margin: 0px 0px 16px 16px;
  width: 100%;
}
.boxDetailTop {
  display: flex;
  justify-content: space-between;
}
.subTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8a8a8a;
}
.dateTime {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  margin-top: -4px;
  color: #8a8a8a;
}
.dot {
  width: 18px;
  height: 18px;
  color: #fa2c5a;
  font-size: 32px;
}
.boxDetailBottom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.productName {
  color: #000000;
  margin: -15px 0px 4px 0px;
  text-overflow: ellipsis;
}
.price {
  color: #151515;
  margin: 0px 0px 4px 0px;
}
.offer {
  color: #151515;
  margin: 0px 0px 4px 0px;
}
